
.swiper {
    width: 100%;
    height: 100%;
  }

//   .swiper-slide {
//     text-align: center;
//     font-size: 18px;
//     background: #fff;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: #000;
//   }


 main{
  max-width: 1200px;
  margin: 19px auto 0;
  display: flex;
  display: grid;
  grid-template-columns:[aside] 233px [top-slider] 967px;
//   grid-template-columns: 1fr 1fr;
 }

 .sidebar__link{
    font-family:Ubuntu-regular;
    font-size: 16px;
    color: #313131;
    text-decoration: none;
 }

 .sidebar__list{
   display: none;
   // display: grid;
   row-gap: 15px;
   padding: 20px 35px 32px 20px;
  li{
    
  }
 }

 .sidebar__list--active{
  display: block;
 }

 .content-slider{
    margin-left: 45px;
    max-width: 100%;
 }