@font-face{
	font-family:ArnoPro BoldItalic36pt;
	font-display: swap;
	src: url("../fonts/ArnoPro BoldItalic36pt.woff2") format("woff2"), url("../fonts/ArnoPro BoldItalic36pt.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family:Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face{
	font-family:LeawoodStd BoldItalic;
	font-display: swap;
	src: url("../fonts/LeawoodStd BoldItalic.woff2") format("woff2"), url("../fonts/LeawoodStd BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family:DynaGroteskLM Bold;
	font-display: swap;
	src: url("../fonts/DynaGroteskLM Bold.woff2") format("woff2"), url("../fonts/DynaGroteskLM Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}


// Ubuntu
